form(name='settings')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='brightness') Brightness:
      input(name='brightness',type='text',value='0',min='-100',max='100',size='1')
      input(name='brightness',type='range',value='0',min='-100',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='exposure') Exposure:
      input(name='exposure',type='text',value='0',min='-100',max='100',size='1')
      input(name='exposure',type='range',value='0',min='-100',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='fillLight') Fill Light:
      input(name='fillLight',type='text',value='0',min='-100',max='100',size='1')
      input(name='fillLight',type='range',value='0',min='-100',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='contrast') Contrast:
      input(name='contrast',type='text',value='0',min='-100',max='100',size='1')
      input(name='contrast',type='range',value='0',min='-100',max='100',step='1')
  br
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='saturation') Saturation:
      input(name='saturation',type='text',value='0',min='-100',max='100',size='1')
      input(name='saturation',type='range',value='0',min='-100',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='vibrance') Vibrance:
      input(name='vibrance',type='text',value='0',min='-100',max='100',size='1')
      input(name='vibrance',type='range',value='0',min='-100',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='hue') Hue:
      input(name='hue',type='text',value='0',min='0',max='100',size='1')
      input(name='hue',type='range',value='0',min='0',max='100',step='1')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='gamma') Gamma:
      input(name='gamma',type='text',value='1',min='0',max='10',size='1')
      input(name='gamma',type='range',value='1',min='0',max='10',step='.1')