extends layout

block content
  div(class="top")#header
    table#nav
      h1 Pixel Prodigy       
      td: a(class="a1",href="") Feedback 
      td: a(class="a1",href="") Contact 
      td: a(class="a1",href="") Technical Info
    div(class="right")
      a(id="login1",class="a1",href="") Log In
  div.displayOverlay
    div.spinner
      div.rect1
      div.rect2
      div.rect3
      div.rect4
      div.rect5